{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if app.user != null %}
        <div class="row">
            <div class="col-12 text-center p-5">
                <h1>Hola, {{ app.user.name ~ ' ' ~ app.user.surname }}</h1>
            </div>
        </div>
        {% if app.user.role == 'ROLE_USER' %}
            <div class="row">
                <div class="col-12 text-center p-4">
                    <a href="{{path('my_payments')}}" class="btn btn-lg btn-outline-dark">Mis pagos</a>
                </div>
                <div class="col-12 text-center p-4">
                    <a href="{{path('user_edit', {'id':app.user.id})}}" class="btn btn-lg btn-outline-dark">Mis datos</a>
                </div>
            </div>
        {% endif %}
        {% if app.user.role == 'ROLE_ADMIN' %}
            <div class="row">
                <div class="col-12 text-center p-4">
                    <a href="{{path('list_users', {'role':'ROLE_USER'})}}" class="btn btn-lg btn-outline-dark">Usuarios</a>
                </div>
                <div class="col-12 text-center p-4">
                    <a href="#" class="btn btn-lg btn-outline-dark">Antenas</a>
                </div>
                <div class="col-12 text-center p-4">
                    <a href="#" class="btn btn-lg btn-outline-dark">Routers</a>
                </div>
                <div class="col-12 text-center p-4">
                    <a href="#" class="btn btn-lg btn-outline-dark">Pagos</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col-12 text-center p-5"><h1>{{ header }}</h1></div>
        </div>
        <div class="row">
            <div class="col-12 text-center p-4">
                <a href="{{path('app_login')}}" class="btn btn-lg btn-outline-dark">Inicia sesión</a>
            </div>
            <div class="col-12 text-center p-4">
                <a href="{{path('user_register')}}" class="btn btn-lg btn-outline-dark">Registrate</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center p-5">
                <p class="text-center font-italic text-muted">Your internet provider! ;)</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
