<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container">
    <a class="navbar-brand" href="{{path('home')}}">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-broadcast-pin" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
        </svg>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    {% if app.user != null %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{path('home')}}">Inicio</a>
        </li>
        {% if app.user.role == 'ROLE_USER' %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('list_payments', {'id':app.user.id})}}">Mis pagos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('user_edit', {'id':app.user.id})}}">Mis datos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
        </li>
        {% endif %}
        {% if app.user.role == 'ROLE_ADMIN' %}
          <li class="nav-item">
            <a class="nav-link" href="{{path('list_users', {'role':'ROLE_USER'})}}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('antennas')}}">Antenas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Routers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('list_payments')}}">Pagos</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">Logout</a>
          </li>
      </ul>

    {% else %}
      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Inicia sesión</span></a>
        </li>
      </ul>

    {% endif %}
  </div>
  </div>
</nav>

{% include "includes/message.html.twig" %}