{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content  %}

    <h1 class="text-center p-4">{{ header }}</h1>

    <div class="row justify-content-center">
        <div class="col-6 mb-4 text-center">
            <a class="btn btn-primary" href="{{path('create_payment')}}">
                Crear pago
            </a>
        </div>
    </div>

    {% if years|length > 0 %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Año</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        {% for year in years %}
                            <option value="{{ year.year }}">{{ year.year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-3">
                    <input type="submit" class="btn btn-sm btn-outline-dark" value="Filtrar">
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="row justify-content-center">
        <div class="col-6">
            {% include "includes/table_all_payments.html.twig" %}
        </div>
    </div>

{% endblock %}