<h1>Hola {{ user }}</h1>

<p>
    Ha sido registrado dentro la plataforma, a continuación se muestran los datos que ha introducido.
</p>

<p>
    <strong>Datos personales</strong>
    <ul>
        <li><strong>Nombre y apellidos:</strong> {{ user }}</li>
        <li><strong>Email:</strong> {{ userEmail }}</li>
        <li><strong>Telefono:</strong> {{ phone }}</li>
        <li><strong>Dirección:</strong> {{ address }}</li>
    </ul>
</p>